{% extends 'base.html' %}
{% load static %}

{% block books_content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Publisher: {{ object.name }}</h1>
            <ul>
            {% for book in object.books.all %}
                {% url 'book_detail' book.pk as book_url %}
                <li><a href="{{ book_url }}">{{ book }}</a></li>
            {% endfor %}
            </ul>
        <p><br><br></p>
            <h4>ISBN prefixes:</h4>
            <ul>
                {% for prefix in object.prefixes.all %}
                    <li>{{ prefix.prefix }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
